body {
  margin: 0;
  width: 100vw;
  font-family: ccclobberintimecrunchy, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url('./images/cobble\ stone.png');
  background-repeat: no repeat;
  display: flex;
}

/* canvas {
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 1200;
} */

#game-board {
  width: 1200px;
  height: 700px;
  padding-top: 100px;
  padding-left: 100px;
  display: block;
}

.startButton {
  display: inline-block;
        background-color: darkolivegreen;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        width: 200px;
}

.restartButton {
  display: inline-block;
        background-color: darkolivegreen;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        width: 200px;
}




.SplashScreen, .FinishScreen {
  margin: 0 auto;
  text-align:center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  /* padding-left: 100px; */
  width:1200px;
  height: 600px;
  background-color:darkslategray;
  position: fixed;
}
/* canvas {
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
} */
