body {
  margin: 0;
  width: 100vw;
  font-family: ccclobberintimecrunchy, sans-serif;
  font-weight: 400;
  font-style: normal;
}

canvas {
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 1200;
}

#game-board {
  width: 1200px;
  height: 700px;
  padding-top: 100px;
  padding-left: 100px;
}
